---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

html {
  text-decoration: none;
}

.post-list > li {
    display: flex;
    flex-wrap: wrap-reverse;
  
    div:first-child {
      flex: 4 0 200px;
    }
    .featured-image {
      flex: 1 0 200px;
      margin-bottom: 0;
    }
}

.imageSubscript {
    text-align: center;
}


.top-box {
  margin: 22rem 0 22rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
}

.subHeader {
  font-size: 1.2rem;
}

.emailTagline {
  font-size: 1.2rem;
}

.profilePic {
  width: 310px;
  height: auto;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  justify-self: center;
}

.work-heading {
  font-size: 2rem;
  font-weight: bold;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 400px;
  grid-auto-rows: 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.work-container {
  position: relative;
}

.work-card {
  background-color: #eeeeee;
  width: 540px;
  height: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 540px;
  height: 425px;
  opacity: 0;
  transition: .5s ease;
  background-color: #42776A;
  text-decoration: none;
}

.work-container:hover .overlay {
  opacity: .7;
}

.featured-image {
  max-height: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.work-title {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}




