---
layout: default
list_title: Cats
---


<div class="home">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  {{ content }}
  <div class="top-box">
    <div class="header">Hey, I'm Connor - A Software Engineer based in DC.</div>
    <img class="profilePic" src="/assets/images/me.jpeg" alt="handsome picture of Connor">
    <div class="subHeader">I've led teams to design integrated surgical tools for eye surgery, retool databases for a
      private jet company, and am currently developing machine learning algorithms for Johns Hopkins Applied Physics Lab.
    </div>
    <a class="emailTagline" href="mailto:connor.r.passe@gmail.com">connor.r.passe@gmail.com</a>
  </div>
  {% if site.posts.size > 0 %}
  <h2 class="work-heading">
    {{ page.list_title | default: "Featured Work" }}
  </h2>
  <div class="work-list">
    {% for post in site.posts %}
    <div class="work-container">
      <div class="work-card">
        <div>
          {% if post.featured_image %}
          <img class="featured-image" src="{{ '/assets/images/' | append: post.featured_image | relative_url }}" />
          {% endif %}
        </div>
      </div>
      <a class="overlay" href="{{ post.url | relative_url }}">
        <div class="work-title">
          {{ post.title | escape }}
        </div>
        
      </a>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>